package components

css inputClass() {
	color: #000000;
	font-size: 16px;
	font-weight: 500;
	padding: 8px 4px;
	background: #FFFFFF;
	border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: { ColorSilver };
}

templ Input(typ string) {
	<input type={ typ } class={ inputClass }/>
}
